/*$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;*/


* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;}

body { 
	font-size: 16px;
	background-color: rgba(0, 0, 255, 0.548);
	font-family: sans-serif;
}

section { padding: 70px 0; text-align: center;}

div { 
	/*background-color: #777;*/
	text-align: center;
	display: inline-block;
	
	
}

.button:link,
.button:visited {
	text-transform: uppercase;
	text-decoration: none;
	/*color: #ffffff;*/
	background-image: linear-gradient(to right, #55c57a, #28b485);
	-webkit-background-clip: text;
	color: transparent;
	
	
	
}
